<h1>New sprint</h1>

<%= error_messages_for :sprint %>

<% form_for(:sprint, :url => sprints_path) do |f| %>
  <p>
    <b>Number</b><br />
    <%= f.text_field :number %>
  </p>

  <p>
    <b>Start on</b><br />
    <%= f.date_select :start_on %>
  </p>

  <p>
    <b>End on</b><br />
    <%= f.date_select :end_on %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sprints_path %>