<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Position:</b>
  <%=h @project.position %>
</p>

<p>
  <b>Sprint:</b>
  <%=h @project.sprint_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>