%h1 New Product Backlog Item
= error_messages_for :product_backlog_item
- remote_form_for(:product_backlog_item, :url => product_backlog_items) do |f|
  = render :partial => "shared/form", :locals => { :f => f }